
<img src="{{market.market.marketImg}}">
<h1>{{market.marketname}}</h1>
<h3>{{market.market.marketType}}</h3>
{{!-- <p>Address: {{market.address}}</p> --}}
<p>Description: {{market.description}}</p>
<h5>keywords</h5>
{{#each market.keywords}}
<li>{{this}}</li>
{{/each}}
<h5>Opening Time: </h5>
{{#each market.openingTime}}
<p>{{this.day}}</p>
<p>Open from {{this.openingHours}} till {{this.closingHours}}</p>
{{/each}}
